<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Journal</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    <!--font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />
    <!-- css stylesheet-->
    <link rel="stylesheet" href="/main.css" />
  </head>
<!-- 
  <form action="/logout" method="POST">
    <button type="submit" class="btn-logout">logout</button>
  </form> -->
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-page">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/images/final-logo (3).png" alt="logo" class="nav-logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          <div class= "collapse navbar-collapse" id="navbarNav" >
          <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/journal">Journal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mood Tracking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>
    <!---weekly journal -->
    <div class="container mt-5">
      <div class="row mb-3">
        <div class="col-12 text-center">
          <h2><strong>Weekly Journal</strong></h2>
          <p class="text-muted">A daily practice fo mental clarity and personal growth </p>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 text-center">
          <p><strong> Todays date: </strong>
            <%= new Date().toLocaleDateString('en-GB', {weekday: 'long', day: 'numeric', month: 'long', year:'numeric'})%></p>
        </div>
      </div>
       <!---weekly journal drop-down-->
       <div class="accordion" id="journalAccordion">
         <!---Monday-->
        <div class="accordion-item" id="monday">
          <h2 class="accordion-header">
            <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseMonday">
              Monday
            </button>
          </h2>
          <div id="collapseMonday" class="accordion-collapse collapse" data-bs-parent="#journalAccordion">
            <div class="accordion-body">
              <label for="modayEntry" class="form-label">Take a moment to reflect on your day.</label>
              <textarea class="form-control journal-entry" rows="4" data-day="Monday"></textarea>
              <button class="btn btn-primary save-btn mt-2" data-day="Monday">Save</button>
            </div>
          </div>
        </div>
         <!---Tuesday-->
            <div class="accordion-item" id="tuesday">
              <h2 class="accordion-header">
                <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseTuesday">
                  Tuesday
                </button>
              </h2>
              <div id="collapseTuesday" class="accordion-collapse collapse" data-bs-parent="#journalAccordion">
                <div class="accordion-body">
                  <label for="TuesdayEntry" class="form-label">Take a moment to reflect on your day.</label>
                  <textarea class="form-control journal-entry" rows="4" data-day="Tuesday"></textarea>
                  <button class= "btn btn-primary save-btn mt-2" data-day="Tuesday">Save</button>
                </div>
              </div>
            </div>
             <!---Wednesday-->
              <div class="accordion-item" id="wednesday">
                <h2 class="accordion-header">
                  <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseWednesday">
                    Wednesday
                  </button>
                </h2>
                <div id="collapseWednesday" class="accordion-collapse collapse" data-bs-parent="#journalAccordion">
                  <div class="accordion-body">
                    <label for="WednesdayEntry" class="form-label">Take a moment to reflect on your day.</label>
                    <textarea class="form-control journal-entry" rows="4" data-day="Wednesday"></textarea>
                    <button class= "btn btn-primary save-btn mt-2" data-day="Wednesday">Save</button>
                  </div>
                </div>
              </div>
               <!---Thursday-->
                <div class="accordion-item" id="thursday">
                  <h2 class="accordion-header">
                    <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseThursday">
                      Thursday
                    </button>
                  </h2>
                  <div id="collapseThursday" class="accordion-collapse collapse" data-bs-parent="#journalAccordion">
                    <div class="accordion-body">
                      <label for="ThurdayEntry" class="form-label">Take a moment to reflect on your day.</label>
                      <textarea class="form-control journal-entry" rows="4" data-day="Thursday"></textarea>
                      <button class="btn btn-primary save-btn mt-2" data-day="Thursday">Save</button>
                    </div>
                  </div>
                </div>
                 <!---Friday-->
                  <div class="accordion-item" id="friday">
                    <h2 class="accordion-header">
                      <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseFriday">
                        Friday
                      </button>
                    </h2>
                    <div id="collapseFriday" class="accordion-collapse collapse" data-bs-parent="#journalAccordion">
                      <div class="accordion-body">
                        <label for="FridayEntry" class="form-label">Take a moment to reflect on your day.</label>
                        <textarea class="form-control journal-entry" rows="4" data-day="Friday"></textarea>
                        <button class="btn btn-primary save-btn mt-2" data-day="Friday">Save</button>
                      </div>
                    </div>
                  </div>
                   <!---Saturday-->
                    <div class="accordion-item" id="saturday">
                      <h2 class="accordion-header">
                        <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseSaturday">
                          Saturday
                        </button>
                      </h2>
                      <div id="collapseSaturday" class="accordion-collapse collapse" data-bs-parent="#journalAccordion">
                        <div class="accordion-body">
                          <label for="SaturdayEntry" class="form-label">Take a moment to reflect on your day.</label>
                          <textarea class="form-control journal-entry" rows="4" data-day="Saturday"></textarea>
                          <button class= "btn btn-primary save-btn mt-2" data-day="Saturday">Save</button>
                        </div>
                      </div>
                    </div>
                     <!---sunday-->
                      <div class="accordion-item" id="sunday">
                        <h2 class="accordion-header">
                          <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseSunday">
                            Sunday
                          </button>
                        </h2>
                        <div id="collapseSunday" class="accordion-collapse collapse" data-bs-parent="#journalAccordion">
                          <div class="accordion-body">
                            <label for="SundayEntry" class="form-label">Take a moment to reflect on your day.</label>
                            <textarea class="form-control journal-entry" rows="4" data-day="Sunday"></textarea>
                            <button class="btn btn-primary save-btn mt-2" data-day="Sunday">Save</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
