<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Journal</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!--font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- css stylesheet-->
    <link rel="stylesheet" href="/main.css" />
  </head>
<!-- 
  <form action="/logout" method="POST">
    <button type="submit" class="btn-logout">logout</button>
  </form> -->

  <body>
    <nav class="navbar navbar-light bg-light nav-page">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/images/final-logo (2).png" alt="logo" class="nav-logo" />
        </a>
      </div>
    </nav>
    <!---weekly journal-->
    <div class="container mt-5">
      <h2 class="text-center mb-4">Weekly Journal</h2>
      <div class=" row justify-content-center">
      <div class="col-md-8 col-lg-6">
      <div class="list-group text-center mt-4">
      <button class="list-group-item list-group-item-action btn-journalList " data-bs-toggle="modal" data-bs-target="#journalModal" data-day="Monday">Monday</button>
      <button class="list-group-item list-group-item-action btn-journalList" data-bs-toggle="modal" data-bs-target="#journalModal" data-day="Tuesday">Tuesday</button>
      <button class="list-group-item list-group-item-action btn-journalList" data-bs-toggle="modal" data-bs-target="#journalModal" data-day="Wednesday">Wednesday</button>
      <button class="list-group-item list-group-item-action btn-journalList" data-bs-toggle="modal" data-bs-target="#journalModal" data-day="Thursday">Thursday</button>
      <button class="list-group-item list-group-item-action btn-journalList" data-bs-toggle="modal" data-bs-target="#journalModal" data-day="Friday">Friday</button>
      <button class="list-group-item list-group-item-action btn-journalList" data-bs-toggle="modal" data-bs-target="#journalModal" data-day="Saturday">Saturday</button>
      <button class="list-group-item list-group-item-action btn-journalList" data-bs-toggle="modal" data-bs-target="#journalModal" data-day="Sunday">Sunday</button>
    </div>
  </div>
</div>
</div>
  <!--Modal-->
  <div class="modal fade" id="journalModal" tabindex="-1" aria-labelledby="modalJournalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="modalJournalLabel">Journal Entry</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"> </button>
      </div>
      <div class="modal-body">
        <p>Today's Date:<%= new Date().toLocaleDateString() %></p>
        <label for="journalEntry" class="form-label">Write your thoughts here:</label>
        <textarea id="journalEntry" class="form-control" rows="8"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
